h1{
    font-size: 30px;
    color:rgb(78, 78, 78);
    text-align: left;
    width: auto;
    background-color: rgb(199, 149, 245);
    height: 80px;
    padding: 15px;
    padding-left: 25px;
    margin-top: 0;
          }

 img{
   height:200px; 
   width:200px; 
   margin-top:120px; 
   margin-left:80px; 
   border-radius:100px; 
   float:left;
 }

h2{
    color:magenta;
    padding: 50px;
    margin-left: 300px;
        
    }

a:hover{
       font-weight: bold;
    }
    
nav{ 
    font-size:20px;
    color: black;
    height: 80px;
    margin-top: 70px;
    list-style-type: none;
    margin-left: 800px;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 0;
        
         }
         
#div1{
    width: 800px;
    float: left;
    position: absolute;
    }
     
p{
    margin-left: 350px;
    margin-right: 250px;
    font-weight: 100;
    color: black;
    font-size: 22px; 
    }

#quotes{
    font-style:italic; 
    text-align: center; 
    border-radius: 50px;
    font-size:20px; 
    margin-left: 335px; 
    margin-right:230px; 
    background-color: rgb(209, 209, 209);
    border: 1px; 
    width: auto; 
    height: auto; 
    padding: 15px;
}
footer{
    height: 120px;
    width: auto;
    text-align: center;
    position: relative;
    margin-top: 70px;
    font-size: 12px;
    }
#facebook{
    margin-left: 50px; 
    margin-top: 0px;
    width: 90px; 
    height: 73px; 
    float: left;
    z-index: -1;
           }
#linked{
    margin-left: 20px;
    width: 120px; 
    height: 100px;
    margin-top:5px;
    
}
#contact{
    font-size:18px;
    border: 3px;
    margin-top: 50px;
    margin-left: 250px;
    width: 800px;
    height: 400px;
    padding:10px;
    color: black;
    background-color: white;
     }

#contact td{
    width: 400px;
    padding-left: 30px;
    border-radius: 20px;
    border: 5px;
    border-color: magenta;
    border-style: solid;  
}

.work{
   font-size:18px;
   margin-top: 60px;
   margin-left: 150px;
   width: auto;
   text-align: left;
   padding:30px;
   color: black;
   
            }
.work td{
   padding: 20px;
   border-radius: 20px;
   color:black;
   height: 150px;
   text-align: center;
   }

.note{
   background-color: rgb(209, 209, 209);
   width: 800px;
   text-align: left;
   }

.period{
   background-color: magenta;
   width: 200px;
}

#study{
    font-size:18px;
    border: 3px;
    margin-top: 60px;
    margin-left: 10px;
    width: auto;
    text-align: center;
    padding:30px;
    color: black;
    }
#study td{
    text-align: center;
    padding: 20px;
    border: 3px;
    border-color: black;
    border-style: solid;
    color:black;
    background-color: rgb(209,209,209);
}
#study td a{
    text-decoration: none;
    color: black;
}
#study th{
    font-size: 25px;
    padding: 20px;
    border: 3px;
    border-color: black;
    border-style:solid;  
    background-color: magenta;
}
#study ul{
 position: absolute; 
text-align: right;
} 
.accordion-item{
    padding: 0px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: left;
}
button{
    text-align: left;
}
    
}
