h1{
    font-size: 30px;
    color:rgb(78, 78, 78);
    text-align: left;
    width: auto;
    margin-top: 10px;
    background-color: rgb(199, 149, 245);
    height: 80px;
    padding: 20px;
   }

 img{
   height:200px; 
   width:200px; 
   margin-top:120px; 
   margin-left:80px; 
   border-radius:100px; 
   float:left;
 }

h2 {
    margin-top: 30px;
    margin-left: 450x;
    font-size: 40px;
    text-align: left;
    color:magenta;
    height:40px;
    }

li{
    font-size: 18px;
    float: left;   
    margin: 20px;
    margin-top: 35px;
    list-style-type: none;
    }
     
ul{    
    position: absolute; 
    text-align: right;
    margin-top: 0px;
    } 

li a{
    text-decoration: dashed;
    color: black;
    }

a:hover{
    color: rgb(111, 0, 255);
    font-weight: bold;
    }
    
nav{
    margin-left: 750px;
    font-size:20px;
    margin-top: 0px;
    z-index: -1;
    }
         
#div1{
    margin-left: 0px;
    width: auto;
    height: 80px;
    margin-top: 0px;
    z-index: -2;
    }
     
p{
    margin-left: 350px;
    margin-right: 250px;
    font-weight: 100;
    color: black;
    font-size: 22px; 
    }
    
footer{
    height: 120px;
    width: auto;
    text-align: center;
    position: relative;
    margin-top: 70px;
    font-size: 12px;
    }
#facebook{
    margin-left: 30px; 
    width: 70px; 
    height: 70px; 
    float: left;
}
#linked{
    margin-left: 40px; 
    width: 120px; 
    height: 70px;
}