body{
    width: "device-width";
}

h2{
    font-size: 24px;
    color:rgb(78, 78, 78);
    text-align: center;
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    float: left;
      }

 img{
   height:75px; 
   width:75px; 
   border-radius: 100px;
   float:left;
   margin-top: 5px;
   margin-right: 20px;
    }


h1{
    color:blue;
    padding-top: 120px;
    text-align: center;
    }

a:hover{
       font-weight: bold;
    }
    
nav{ 
    font-size:20px;
    color: black;
    height: 80px;
    margin-top: 70px;
    margin-left: 000px;
    list-style-type: none;
    padding-top: 20px;
    padding-left: 30px;
    margin-top: 0;
         }
 
.row{
    height: auto;
    width: 1100px;
}
    
p{
    padding-left: 15%;
    padding-right: 15%;
    font-size: 20px;
}

span{
    font-weight: bold;
    font-size:20px; 
    padding-left: 15%;
    padding-right: 15%;
    }

footer{
    height: 100px;
    width: auto;
    text-align: center;
    position: relative;
    margin-top: 80px;
    font-size: 12px;
    background-color: #0d6efd;
    }

#facebook{
    margin-left: 50px; 
    margin-top: 0px;
    width: 90px; 
    height: 73px; 
    float: left;
    z-index: -1;
     }

#linked{
    margin-left: 20px;
    width: 120px; 
    height: 100px;
    margin-top:5px;
    padding-bottom: 20px;
    }

.form{
    width:300px; 
    height: 30px; 
    border-radius: 5px; 
    font-size: 14px; 
    color: grey;
     }

#message{
    width:300px; 
    height: 100px; 
    border-radius: 5px;
    font-size: 14px;
    }

button{
    border-radius: 5px; 
    background-color: rgb(225, 250, 250); 
    height: 30px;
    width: 80px; 
    margin-left: 225px; 
    font-size: 15px;
    }

#study{
    font-size:18px;
    border: 3px;
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    color: blue;
    }

#study td{
    text-align: center;
    padding: 10px;
    border: 3px;
    border-color: black;
    border-style: solid;
    color:black;
    }

#study th{
    font-size: 20px;
    padding: 20px;
    border: 3px;
    border-color: black;
    border-style:solid;  
    background-color: rgb(225, 250, 250);
    }

.accordion-body{
    padding: 0px;
    text-align: left;
    font-size: 16px;
    }

.accordion-header{
    text-align: left;
    margin-left: 0px;
    padding: 0px;
    }

#container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
    width: device-width;
    }

.container{
    margin-top: 80px;
    font-size: 20px;
     }
.col-sm-4{
    margin-left: 15%;
    }
.col-sm{
    margin-left: 10%;
}